

.draw-container {
    width: 410px;
    height: 600px;
    overflow-y: scroll;
    /*display: flex;*/
}


.draw-popover-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
